{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog.css' %}">
</head>
<body>
    <header class="container">
        <div class="top_header">
          <div>  <img src="{% static '/assets/favicon.png'%}"></div>
           <div class="login"> 
            <div class="Login"><p>Login</p></div>
            <div class="register"><p>Register</p></div>
            <div class="signin"><p>Sign In</p></div>
        </div>
        <!-- <hr> -->
    </header>
    <hr class="line">
    <div class="article">
    <h2>
        Free Articles & Resources </h2>
        <input class="input1" placeholder="search for an article"><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <hr class="line">
    <section class="blogs">
        <h2 class="recent">More Recent Articles</h2>
<div class="blog-section">
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>
    <article class="blog_categories">
        <img src="{% static '/assets/Thechair.jpg' %}" >
        <h3 class="title">Lisbon</h3>
        <p class="description">The Lisbon Chair combines comfort and style with its sleek design and premium upholstery. Perfect for any modern space</p>
    </article>

</div>


    </section>

</body>
</html>